body {
  background: #e6e6e6;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.neumorphic-button {
  padding: 16px 36px;
  border-radius: 24px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
  background: #e6e6e6;
  color: #001d3d;
  cursor: pointer;
  box-shadow: 3px 5px 12px #c0c0c0, -3px -5px 12px #fff;
}

.neumorphic-button:hover {
  box-shadow: inset 3px 5px 10px #c0c0c0, inset -3px -5px 10px #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 29.8px;
}

.neumorphic-button i {
  margin-right: 16px;
}
